.title{
    color :blue
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  .div2{
   
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 70px;
    height:110px;
    border: 5px white double;
    /* background-color: rgb(156, 12, 12); */
    background-image: repeating-linear-gradient(rgb(243, 99, 99),red,rgb(156, 12, 12))
}
.div3{
    
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 70px;
    height:110px;
    border: 5px white double;
    /* background-color: rgb(22, 22, 126); */
    background-image: repeating-linear-gradient(rgb(90, 90, 156),blue,rgb(22, 22, 126))
}

.table{
    background-color: #567D46;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 10px brown solid;

}
